.SideBarContainer{
    width: 50vw;
    position: absolute;
    top:13vh;
    right: 0;
    border: 1px solid grey;
    padding: 20px;
    z-index: 3;
    background-color: white;
    border-radius: 5px;
}

@media (min-width:768px){
    .SideBarContainer{
      display: none !important;  
    }
}