.blogsContainer{
    width:100vw;
    padding-left: 10%;
    padding-right: 10%;
    border: 2px solid black;
}

.topContent{
    margin-bottom: 2%;
    margin-top: 2%;
}

.leftContent{
    border: 2px solid red;
    padding: 1%;
}
.rightContent{
    border: 2px solid green;
}

.leftBlogsCard{
    border: 1px solid rgba(128, 128, 128, 0.373);
    height: 22vw;
    padding: 5px;
    border-radius: 5px;
}

.leftBlogsCardTopContent{
    height: 20%;
}
.leftBlogsCardMain{
    height: 80%;
}

.leftBlogsCardMainContent{
    height: 100%;
    border: 2px solid green;
    padding: 5px;
}
.leftBlogsCardMainContentImage{
    height: 100%;
    border: 2px solid red;

}

.leftBlogsCardMainContentTitle{
    height: 30%;
    overflow: hidden;
}

.leftBlogsCardMainContentTitle h4{
    font-size: larger;
}



.leftBlogsCardMainContentDescription{
    height: 70%;
    overflow: hidden;
}
