.profileContainer{
    width: 100vw;
}

.profileWrapper{
    width: 80%;
    padding: 20px;
}

.profileTopContent{
    border: 2px solid red;
}

.profileImageContainer{
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: 5px solid white;
    cursor: pointer;
}

.profileImageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}