.header {
    width: 100vw;
    height: 13vh;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);

}

.headerContent {
    height: 100%;
    width: 100%;
}

.navLogo{
    height:100%;
}
.navTabs{
    height:100%;
}